<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoB - Assistant</title>
    <link rel="icon" href="B.png">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/bobstyle.css">
</head>

<body>

    <div id="main">


        <div id="nav-btn">
            <i class="fa-solid fa-bars menu"></i></i>
            <i class="fa-solid fa-xmark cross"></i>
        </div>

        <div id="nav">
            <div id="nav-header">
                <h2>Navigation list</h2>
            </div>
            <div id="nav-boxes-cont">
                <div class="nav-boxes">
                    <div class="img-cont">
                        <img src="B.png">
                    </div>
                    <div class="command-cont">
                        <div class="c1">open bob gpt</div>
                        <div class="c2">exit bob gpt</div>
                    </div>
                </div>
                <div class="nav-boxes">
                    <div class="img-cont">
                        <img src="googlelogo.png">
                    </div>
                    <div class="command-cont">
                        <div class="c1">open google</div>
                        <div class="c2">search "query" on google</div>
                    </div>
                </div>
                <div class="nav-boxes">
                    <div class="img-cont">
                        <img src="youtubelogo.png">
                    </div>
                    <div class="command-cont">
                        <div class="c1">open youtube</div>
                        <div class="c2">search "query" on youtube</div>
                        <div class="c2">search "query" channel on youtube</div>
                    </div>
                </div>
                <div class="nav-boxes">
                    <div class="img-cont">
                        <img src="chatgptlogo.png">
                    </div>
                    <div class="command-cont">
                        <div class="c1">open chatgpt</div>
                        <div class="c2">chatgpt kholo</div>
                    </div>
                </div>
                <div class="nav-boxes">
                    <div class="img-cont">
                        <img src="githublogo.png">
                    </div>
                    <div class="command-cont">
                        <div class="c1">open github</div>
                        <div class="c2">github kholo</div>
                    </div>
                </div>
                <div class="nav-boxes">
                    <div class="img-cont">
                        <img src="leetcode.svg">
                    </div>
                    <div class="command-cont">
                        <div class="c1">open leetcode</div>
                        <div class="c2">leetcode kholo</div>
                    </div>
                </div>
                <div class="nav-boxes">
                    <div class="img-cont">
                        <img src="gfglogo.jpeg">
                    </div>
                    <div class="command-cont">
                        <div class="c1">open gfg</div>
                        <div class="c2">gfg kholo</div>
                    </div>
                </div>
                <div class="nav-boxes">
                    <div class="img-cont">
                        <img src="replitlogo.png">
                    </div>
                    <div class="command-cont">
                        <div class="c1">open replit</div>
                        <div class="c2">replit kholo</div>
                    </div>
                </div>
                <div class="nav-boxes">
                    <div class="img-cont">
                        <img src="interviewbitlogo.jpeg">
                    </div>
                    <div class="command-cont">
                        <div class="c1">open interviewbit</div>
                        <div class="c2">interviewbit kholo</div>
                    </div>
                </div>
                <div class="nav-boxes">
                    <div class="img-cont">
                        <img src="codesandboxlogo.png">
                    </div>
                    <div class="command-cont">
                        <div class="c1">open codesandbox</div>
                        <div class="c2">codesandbox kholo</div>
                    </div>
                </div>
                <div class="nav-boxes">
                    <div class="img-cont">
                        <img src="netflixlogo.png">
                    </div>
                    <div class="command-cont">
                        <div class="c1">open netflix</div>
                        <div class="c2">netflix kholo</div>
                    </div>
                </div>
                <div class="nav-boxes">
                    <div class="img-cont">
                        <img src="prime.svg">
                    </div>
                    <div class="command-cont">
                        <div class="c1">open prime video</div>
                        <div class="c2">prime video kholo</div>
                    </div>
                </div>
                <div class="nav-boxes">
                    <div class="img-cont">
                        <img src="hotstarlogo.png">
                    </div>
                    <div class="command-cont">
                        <div class="c1">open hotstar</div>
                        <div class="c2">hotstar kholo</div>
                    </div>
                </div>
                <div class="nav-boxes">
                    <div class="img-cont">
                        <img src="sonylivlogo.jpeg">
                    </div>
                    <div class="command-cont">
                        <div class="c1">open sonyliv</div>
                        <div class="c2">sonyliv kholo</div>
                    </div>
                </div>
                <div class="nav-boxes">
                    <div class="img-cont">
                        <img src="jiocinemalogo.png">
                    </div>
                    <div class="command-cont">
                        <div class="c1">open jiocinema</div>
                        <div class="c2">jiocinema kholo</div>
                    </div>
                </div>
                <div class="nav-boxes">
                    <div class="img-cont">
                        <img src="gmaillogo.png">
                    </div>
                    <div class="command-cont">
                        <div class="c1">open gmail</div>
                        <div class="c2">gmail kholo</div>
                    </div>
                </div>
                <div class="nav-boxes">
                    <div class="img-cont">
                        <img src="telegramlogo.png">
                    </div>
                    <div class="command-cont">
                        <div class="c1">open telegram</div>
                        <div class="c2">telegram kholo</div>
                    </div>
                </div>
                <div class="nav-boxes">
                    <div class="img-cont">
                        <img src="discordlogo.png">
                    </div>
                    <div class="command-cont">
                        <div class="c1">open discord</div>
                        <div class="c2">discord kholo</div>
                    </div>
                </div>
                <div class="nav-boxes">
                    <div class="img-cont">
                        <img src="wikipedialogo.png">
                    </div>
                    <div class="command-cont">
                        <div class="c1">open wikipedia</div>
                        <div class="c2">wikipedia kholo</div>
                    </div>
                </div>
                <div class="nav-boxes">
                    <div class="img-cont">
                        <img src="whatsapplogo.png">
                    </div>
                    <div class="command-cont">
                        <div class="c1">open whatsapp</div>
                        <div class="c2">whatsapp kholo</div>
                    </div>
                </div>
                <div class="nav-boxes">
                    <div class="img-cont">
                        <img src="facebooklogo.png">
                    </div>
                    <div class="command-cont">
                        <div class="c1">open facebook</div>
                        <div class="c2">facebook kholo</div>
                    </div>
                </div>
                <div class="nav-boxes">
                    <div class="img-cont">
                        <img src="instagramlogo.png">
                    </div>
                    <div class="command-cont">
                        <div class="c1">open instagram</div>
                        <div class="c2">instagram kholo</div>
                    </div>
                </div>
                <div class="nav-boxes">
                    <div class="img-cont">
                        <img src="amazon.svg">
                    </div>
                    <div class="command-cont">
                        <div class="c1">open amazon</div>
                        <div class="c2">amazon kholo</div>
                    </div>
                </div>
                <div class="nav-boxes">
                    <div class="img-cont">
                        <img src="flipkartlogo.png">
                    </div>
                    <div class="command-cont">
                        <div class="c1">open flipkart</div>
                        <div class="c2">flipkart kholo</div>
                    </div>
                </div>
                <div class="nav-boxes">
                    <div class="img-cont">
                        <img src="souledstorelogo.png">
                    </div>
                    <div class="command-cont">
                        <div class="c1">open souled store</div>
                        <div class="c2">souled store kholo</div>
                    </div>
                </div>
                <div class="nav-boxes">
                    <div class="img-cont" >
                        <img src="olx.svg" >
                    </div>
                    <div class="command-cont">
                        <div class="c1">open olx</div>
                        <div class="c2">olx kholo</div>
                    </div>
                </div>
                <div class="nav-boxes">
                    <div class="img-cont">
                        <img src="linkedinlogo.png">
                    </div>
                    <div class="command-cont">
                        <div class="c1">open linkedin</div>
                        <div class="c2">linkedin kholo</div>
                    </div>
                </div>
                <div class="nav-boxes">
                    <div class="img-cont">
                        <img src="zomatologo.png">
                    </div>
                    <div class="command-cont">
                        <div class="c1">open zomato</div>
                        <div class="c2">zomato kholo</div>
                    </div>
                </div>
                <div class="nav-boxes">
                    <div class="img-cont">
                        <img src="myntralogo.png">
                    </div>
                    <div class="command-cont">
                        <div class="c1">open myntra</div>
                        <div class="c2">myntra kholo</div>
                    </div>
                </div>
                <div class="nav-boxes">
                    <div class="img-cont">
                        <img src="stackoverflow.svg">
                    </div>
                    <div class="command-cont">
                        <div class="c1">open stack overflow</div>
                        <div class="c2">stack overflow kholo</div>
                    </div>
                </div>
                <div class="nav-boxes">
                    <div class="img-cont">
                        <img src="quora.svg">
                    </div>
                    <div class="command-cont">
                        <div class="c1">open quora</div>
                        <div class="c2">quora kholo</div>
                    </div>
                </div>
                <div class="nav-boxes">
                    <div class="img-cont">
                        <img src="twitter.svg">
                    </div>
                    <div class="command-cont">
                        <div class="c1">open twitter</div>
                        <div class="c2">twitter kholo</div>
                    </div>
                </div>
                
            </div>
        </div>

        <div id="mic-cont">
            <img src="firelogo.png" id="logo">


        </div>
        <div id="state1">
            <h2 id="state">Press fire button for initializing BOB!</h2>
        </div>


        <div id="gpt-outer-cont">
            <!-- <div id="loader" style="display: none;"></div> -->
            <!-- <div class="question">
                tell me about your self
            </div>
            <div class="answer">
                I'm just a computer program, so I don't have feelings or emotions, but I'm here and ready to assist
                you
                with whatever you need. How can I help you today?
            </div> -->




        </div>

        <div id="pause-play">
            <i class="fa-solid fa-pause pause"></i>
            <i class="fa-solid fa-play play"></i>
        </div>

        <div id="replay">
            <i class="fa-solid fa-rotate-left"></i>
        </div>

    </div>
    <div id="loader-cont">
        <!-- <div id="loader" style="display: none;"></div> -->
    </div>

    <!-- <i class="fa-solid fa-microphone"></i>&nbsp;Listening... -->
    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
    <script type="module" src="/work.js"></script>
</body>

</html>